.card{
    &-img-top{
        height: 400px;
        object-fit: cover;
    }
}
.furniture{
   h1{
    margin-top: 100px;
   }
}

.contactus{
    padding-left: 110px;
}
.contact{
    .form-control{
        background: transparent;
        border: none;
        border-radius:0;
        border-bottom: 2px solid #58151c;
    }
    .form-control:focus{
        background: transparent;
    }
    .form-floating{
        label, .form-control:focus ~ label {
            color: #58151c;
        }
    }
    .form-check-input{
        border: 2px solid #58151c;
        background: transparent;
    }
    .form-check-label{
        a{
            color: #58151c;
            font-weight: bold;
        }
    }
    #message{
        border: 2px solid #58151c;
        height: 260px;
    }

    .btn{
        background-color: #58151c;
        padding: 10px 30px;
        color: #fff3cd;
    }
    .btn:hover, .btn:focus{
        border: 2px solid #58151c;
        color: #58151c;
    }
}

.footer{
    margin-top: 10px;
    background-color: #58151c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .bi{
        color: white;
    }
}